@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<body style="background-color:LightBlue;">
</body>
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>We here in BookMyBus are young and passionate entrepreneurs. We aim to connect all cities of US through buses by 2020.</p>



<h3>Our Team:</h3>

<div>

We were managing 10 busses earlier, But as the profit rise and so is the expenses. We expanded our bus service to new destinatioms
, Increase in profit made you increase the number of vechiles. It required to manage them efficiently and we decided to build a small
application for this porpose. The aim was to  effectively hold and msnipulate data with low cost.


</div>
<br>

<img src="https://image.ibb.co/cupFm9/1.jpg" width="200" height ="200">
<h4 style="color:rgb(45, 12, 226)">
<li>Aroop Pattanaik </h4> 
<p><em> Knowledgeable, domineering and accomodating.</em></p>
<p>Hailing from Bhubaneswar, India, Aroop was working with Infosys for three years before he joined BookMyBus</p> 
<img src="https://image.ibb.co/deSCYp/0.jpg" width="200" height ="200">
<h4 style="color:rgb(45, 12, 226)">
<li>Karmveer Singh </h4>

<p><em>Raffish, spontaneous and loquacious.</em></p>
<p>Deemed the heart of the whole team, Karmveer who belongs to Delhi, India, is a born leader with problem solving skills.</p>
