@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<body style="background-color:LightBlue;">
</body>
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
     717 Martin Luther King Drive W<br />
    Cincinnati, OH <br />
    <abbr title="Phone">P:</abbr>
    513.580.0848
</address>
<address>
     <strong>CEO:</strong> <a href="mailto:pattanap@mail.uc.edu">pattanap@mail.uc.edu</a><br />
    <strong>President:</strong> <a href="mailto:fnukr@mail.uc.edu">fnukr@mail.uc.edu</a><br/>
</address>
<a href="https://imgbb.com/"><img src="https://image.ibb.co/jzXVpU/Office.jpg" alt="Office" height="300" width="665"></a>


