@page
@model HelpModel
@{
}

<div>
    <h2>Home Page and Search Booked Tickets</h2>
<img src="https://preview.ibb.co/gxmtb9/Get-Tkt-Details.png" width="1000" height="500">
<h2>Search Bus</h2>
<img src="https://preview.ibb.co/hxiZip/Search-Bus.png" width="1000" height="500">
</div>
<h2>Available Buses</h2>
<img src="https://preview.ibb.co/kfgLOp/Available-Bus.png" width="1000" height="500">
<h2>Book Ticket</h2>
<img src="https://preview.ibb.co/mjoZip/BookTkt.png" width="1000" height="500">

<h2>Ticket Details</h2>
<img src="https://preview.ibb.co/jK5Eip/Display-Tkt-Details.png" width="1000" height="500">

<h2>Booking History</h2>
<img src="https://preview.ibb.co/iJaQpU/Booking-History.png" width="1000" height="500">

<h2>Contact</h2>
<img src="https://preview.ibb.co/ep9ww9/Contact.png" width="1000" height="500">
</div>