@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>
<body style="background-color:LightBlue;">
</body>
<p>Use this page to detail your site's privacy policy.</p>